<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--        changed lazyLoadingEnabled from true to false-->
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias alias="User" type="org.example.entity.User"/>
<!--        <typeAlias alias="Truck" type="org.example.entity.Truck"/>-->
<!--        <typeAlias alias="Package" type="org.example.entity.Order"/>-->
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <!--                <property name="url" value="jdbc:mysql://localhost:3306/your_database_name?useSSL=false&amp;serverTimezone=UTC"/>-->
                <property name="url" value="jdbc:mysql://localhost:3306/miniYoutube?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="mysqlroot123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper class="org.example.mapper.DBInitializer"/>
        <mapper class="org.example.mapper.UserMapper"/>
<!--        <mapper class="org.example.mapper.TruckMapper"/>-->
<!--        <mapper class="org.example.mapper.OrderMapper"/>-->
    </mappers>

</configuration>
